.projects-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* Creates 2 equal columns */
	grid-template-rows: repeat(2, auto); /* Creates 2 rows */
	gap: 10px; /* Adjust spacing between items */
	margin: 1rem 4rem;
}

.projects-item {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #ccc; /* Optional: for visualization */
	padding: 20px;
}

.projects-img {
	max-width: 100%;
	height: auto;
}
