.projects-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* Creates 2 equal columns */
	grid-template-rows: repeat(2, 400px); /* Creates 2 rows */
	gap: 1px; /* Adjust spacing between items */
	background: linear-gradient(to bottom left, #ccf0e9, #c8a3ee);
}

.projects-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.projects-item ul {
	font-size: 1.3rem;
	color: black;
	padding: 10px;
	position: relative;
	list-style-type: none;
}

.projects-item li {
	margin-top: 10px;
}

.projects-img {
	width: 80%;
	height: auto;
	object-fit: cover;
	z-index: 1;
}

@media (min-width: 600px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}
