.navigation__container {
	display: flex;
	list-style: none;

	background: hsl(0 0 0 / 0.1);
	backdrop-filter: blur(1rem);
}

.navigation a {
	text-decoration: none;
	color: inherit;
}
.navigation a:visited {
	all: unset;
}

@media (max-width: 600px) {
	.navigation__container {
		position: fixed;
		inset: 0 0 0 40%;
		flex-direction: column;
		padding: min(30vh, 10rem) 2em;
	}
}
@media (max-width: 768px) {
	/* Tablets */
}
@media (min-width: 1024px) {
	.navigation__container {
		flex-direction: row;

		float: right;
		padding-right: 10rem;
		padding-top: 5rem;
		font-size: 2rem;
		background-image: linear-gradient(to right, #503251, #4f9ccc);

		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}
}
