.draggable {
	max-width: 100%;
	height: 200px;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-column: span 1;
	border-radius: 1rem;
	/* background: linear-gradient(to bottom right, #bee0f2, #e0cdee); */
	background-color: rgb(255, 255, 255);
}

.draggable--img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.draggable--invisible {
	display: none;
}

.draggable--double {
}

/* INDIVIDUAL ITEM STYLING*/

.about-draggable,
.next-steps-draggable {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 1.1rem;
	padding: 5px;
	background-color: transparent;
}

.projects-collection-draggable {
	grid-column: span 2;
}

@media (min-width: 600px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
	.draggable {
		max-width: 100%;
		height: 300px;
		background-color: rgb(0, 166, 221);
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid black;
		border-radius: 10px;
		transition: transform ease, background-color 0.2s ease;
		cursor: grab;
	}

	.draggable--img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
		transition: transform 2s ease, background-color 0.2s ease;
	}

	.draggable--invisible {
		background-color: #f0f0f0;
		z-index: -1;
	}

	.draggable--double {
		grid-column: span 2;
		background-color: white; /* This makes it span two columns */
	}
}
