.header {
  height: 100vh;
  background-image: url(../imgs/hero-final.png);
  background-size: cover;
  position: relative;
}

.navigation {
  &__container {
    display: flex;
    flex-direction: row;
    list-style: none;
    float: right;
    padding-right: 10rem;
    padding-top: 5rem;
  }
}

.text-container {
	
  &__heading-primary {
		
    &--main {
      position: absolute;
			top: 30%;
			left: 50%;
	
    }

    &--secondary {
      position: absolute;
			top: 41%;
			left: 50.4%;
			width: 82rem;
    }
  }
}

.primary-headshot {
  height: 40rem;
  border-radius: 1000px;
  position: absolute;
  transform: translate(50%, 50%);

  left: 5%;
}
